db
incremental_db
output_files
rtl_work
*.xrf
*.ini
*.rpt
*.qsf
*.bak
*.qpf
*.qws
*.v.bak
simulation/
R232i.sof
c5_pin_model_dump
R232i.sof
R232i.sof.rpt
R232i_nativelink_simulation.rpt
R232i.qpf
R232i.qws
c5_pin_model_dump.txt